<div class="page-header">
  <ul class="list-inline pull-right">
    <li><%= link_to "Edit", edit_admin_election_path(@election), class: 'btn btn-default' %></li>
  </ul>
  <h1><%= @election.title %></h1>

</div>

<%= simple_format @election.description %>
<hr>
<h3>Questions:</h3>
<ul>
  <% @election.questions.each do |question| %>
    <li><%= question.title %></li>
    <ul>
      <% question.options.each do |option| %>
        <li><%= option.name %></li>
      <% end %>
    </ul>
  <% end %>
</ul>
