<%= campaign_sidebar do %>
  <div class="page-header">
    <ul class="list-inline pull-right">
      <li>
        <%= link_to fontawesome('envelope', "Notify Responders"),
              notify_responders_admin_campaign_path(@campaign),
              method: :post, class: 'btn btn-primary',
              data:{confirm: "Are you sure you want to send notifications?"} %>
      </li>
      <li><%= link_to fontawesome('pencil',"Edit"), edit_admin_campaign_path(@campaign), class: 'btn btn-default' %></li>
    </ul>
    <h1><%= @campaign.title %></h1>
  </div>
  <%= simple_format @campaign.description %>
  <strong>Opens At:</strong> <%= @campaign.opens_at.localtime.to_s(:long) rescue '<em>not set</em>'.html_safe %> <br>
  <strong>Closes At:</strong> <%= @campaign.closes_at.localtime.to_s(:long) rescue '<em>not set</em>'.html_safe %>
  <hr>
  <h3>Questions:</h3>
  <ul>
    <% @campaign.questions.each do |question| %>
      <li><%= question.title %></li>
      <ul>
        <% question.options.each do |option| %>
          <li><%= option.name %></li>
        <% end %>
      </ul>
    <% end %>
  </ul>
<% end %>
