<div class="page-header">
  <h2><%= @election.title %></h2>
</div>
<%= form_for @responder, url: "#" do |f| %>
  <% @election.questions.each do |question| %>
    <h4><%= question.title %></h4>
    <% vote = current_user.votes.where(question: question.id).first_or_initialize %>
    <%= fields_for "votes[]", vote do |vote_fields| %>
      <%= vote_fields.hidden_field :question_id %>
      <% question.options.each do |option| %>
        <div class='radio'>
          <%= vote_fields.label "option_id_#{option.id}" do %>
            <%= vote_fields.radio_button :option_id, option.id %> <%= option.name %>
          <% end %>
        </div>
      <% end %>
    <% end %>
  <% end %>

<% end %>
