<%= campaign_sidebar do %>
  <div class="page-header">
    <ul class="list-inline pull-right">
      <li><%= link_to "Bulk Add Responders", '#', id: 'trigger_bulk_add_responders', class: "btn btn-primary" %></li>
      <li><%= link_to fontawesome("plus-circle", "Add New Responder"), new_admin_campaign_responder_path(@campaign), class: "btn btn-primary" %></li>
    </ul>
    <h1><%= @campaign.title %> <small>Responders</small></h1>
  </div>
  <%= page_entries_info @responders, model: "responder".pluralize(@responders.length) %>
  <table class='table'>
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @responders.each do |responder| %>
        <tr>
          <th><%= link_to responder.name, admin_campaign_responder_path(@campaign, responder) %></th>
          <td><%= responder.email %></td>
          <td class="text-right"><%= link_to fontawesome("pencil", "edit"), edit_admin_campaign_responder_path(@campaign, responder), class: "btn btn-default btn-xs" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= will_paginate @responders %>
<% end %>

<%= form_tag import_admin_campaign_responders_path(@campaign), multipart: true, class: 'hide' do %>
  <%= file_field_tag :responders_import_file %>
<% end %>
