<!DOCTYPE html>
<html>
<head>
  <title>Vote Viper</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <span class="navbar-brand"><strong>Vote Viper</strong> | Admin</span>
      </div>
      <ul class="nav navbar-nav">
        <li class='active'><%= link_to "Campaigns", admin_campaigns_path %></li>
      </ul>
      <% if user_signed_in? %>
      <p class="navbar-text navbar-right"><%= link_to "Logout", destroy_user_session_path, class:"navbar-link", method: :delete %></p>
      <% end %>
    </div>
  </nav>
  <div class="container">
    <% if notice %>
      <div class="alert alert-success alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <%= notice %>
      </div>
    <% end %>
    <% if alert %>
      <div class="alert alert-danger alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <%= alert %>
      </div>
    <% end %>
    <%= yield %>
  </div>
</body>
</html>
